<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header"><h1>Expense Tracker App</h1></div>
    <div class="userinputs">
    <img src="static/expensefox.png" alt="fox with expense log" class="fox">
        <div class="form">
            <form action="/insert" method="POST" id="expenseform">
                <label for="category">Category: Type of Expense:</label>
                <input type="text" id="category" name="category" placeholder="Bills, Transport, Entertainment, etc.">
                <br>
                <label for="amount">Amount: How much did you spend?</label>
                <input type="number" min="0" id="amount" name="amount" placeholder="Numbers only:">
                <br>
                <label for="description">Description: What did you spend it on?</label>
                <input type="text" id="description" name="description" placeholder="Enter a description:">
                <br>
                <button type="submit" class="savebtn">Save</button>
            </form>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="errors">
            {% for category, message in messages %}
            {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

    <div class="maindata">
        <div class="data">
            <table class="table-container">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="expenselist">
                    {% for row in expenses %}
                    <tr id="expense-{{ row[0] }}">
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td><a href="/delete/{{ row[0] }}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table-container2">
                <tr>
                    <td colspan="5" class="totalbox">
                        Running Expense Total: &emsp; &emsp;<span id="total">{{ total }}</span>
                    </td>
                </tr>
            </table>

            <div class="deleteall">
                    <a href="/deleteall" class="deletealllink">Click here to clear all</a>
                    <p class="warning">Warning: If you clear all, you will lose all of the data and won't be able to get it back.<br></p>
                <a href="/logout" class="logout">Click here to log out.</a>
            </div>            
        </div>
    </div>
</body>
</html>
